[Desktop Entry]
Version=6.5.0
Name=CodeBase v6.5.0
Comment=Code repository browser and file manager
Exec=/home/digislinger/.local/bin/CodeBase
Icon=codebase
Type=Application
Categories=Development;Utility;
StartupNotify=true
NoDisplay=false